@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

/* todo: 
* {
  box-sizing: border-box;
  font-size: 18px;  
}
*/

body, html {
  padding:0;
  margin:0;
  background:darkgray;   
  font-size: 18px;  
}
 
p {
  word-break: break-all;
  white-space: normal;
}

main .row {
  font-family: 'IBM Plex Sans', sans-serif;
  max-width: 90%;
  margin: 0 auto; 
  background: beige;  
  padding-bottom: 5px; 
  margin-bottom: 20px; 
  text-align: right
}

.nav-link:link, .nav-link:visited {
  background-color: beige;
  color: black;
  padding:  5px;
  margin: 20px;
  text-align: center; 
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  border:  solid black;
  border-width: 2px;
}

.nav-link:hover, .nav-link:active {
  background-color:lightgray;
  border-radius: 10px; 
  border: solid black;
  border-width: 2px;
}

.user-profile-heading {
  display:block;
  margin: 1px;
  width:250px;
  word-wrap:break-word;
}

.user-profile {
  width: 100%;
}
.section-block{
  margin: 5px; 
  border-top: solid black;
  border-width: 1px;
  background-color: lightgray;
  width: 95%;
}

.section-header{ 
  border:  solid black;
  border-width: 1px;
  background-color: lightgray;
  width: 100%;
}
.section-sub-header{ 
  border: solid black;
  border-width: 1px;
  background-color: rgb(177, 177, 226);
  width: 100%;
}

.header {  
  text-align: center;
  vertical-align: top;
  width: 100%;
  max-width:100%;
  color:black;
  font-size:8px;
  /* height: 280px; */
  margin-top: 5px;
}


fieldset div {
  display: flex;
  align-items: center;
}

.input-block {
  display: block;
}

input:focus ~ label, textarea:focus ~ label, select:focus ~ label {
  color: #933;
}

input:checked ~ label {
  font-weight: bold;
}

input {
  display: inline-block;
  float: left;
}

.error-message {
  color:red;
  border: red;
  border-color: red;
  border-style: solid;    
}

h1, h2, h3, address {
  margin: 10px;
  display: block;
}

.background-color-white {
  background-color: whitesmoke;
}
.skill {
  width:  150px;
}
.experience {
  width:  25px;
}
 

.flex-multiline { 
  display: flex;
  flex-wrap: wrap;
}

.items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: lightgray;
}
.items .item {
  flex: 1 0 25%;
  box-sizing: border-box;
  color: #171e42;
  padding: 10px;
}

.skill-link:link{
  background-color: beige;
  color: black;
  padding: 5px 5px;
  text-align: center; 
  display: inline-block;
  text-decoration: none;
  border-radius: 15px;
  border: solid black ;
  border-width: 2px;
  margin: 3px;  
}

.skill-span{
  background-color: beige;
  color: black;
  padding: 5px 5px;
  text-align: center; 
  display: inline-block;
  text-decoration: none;
  border-radius: 15px;
  border: solid black ;
  border-width: 2px;
  margin: 3px;  
}

/*
	Messages and Errors
*/
.message {
  padding: 12px 6px;
}

.message-success {
  background-color: #5CB85C;
  color: black;
}

.message-information{
  background-color: lightgray;
  color: black;
}

.message-error, .form-error {
  background-color: lightpink;
  color: black;
}

.form-error {
  margin: 0 6px;
  padding: 6px;
  display: inline-block;
}

.edit-form {
  max-width: 340px;
  text-align: left;

  border-width: 2px;
  border-style: none;
  border-color: black;
  border-image: none;
}

textarea {
  max-width: 335px;
}

.border-solid {
  border-style: solid;
  border-color: black;
}

.background-color-sub-heading {
  background-color: rgb(177, 177, 226);
}

.background-color-content {
  background-color: #f2f2f2;
}

.job-skill, .user-skill {
  background-color: beige;
  color: black;
  padding: 5px 5px;
  text-align: center; 
  display: inline-block;
  text-decoration: none;
  border-radius: 15px;
  border: solid black;
  border-width: 1px;
  margin: 3px;
}

.user-skill-matched {
  background-color: lightgreen;
}
 
 
/*
  FLEX Container
*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;   
  align-items: flex-start;  
  max-width: 100%; 
  border: black solid;  
  border-width: 2px;
  margin: 5px;
}

.flex-item {  
 flex-grow: 1;
 flex-shrink: 1;
 flex-basis: auto;
 margin: 5px; 
}

.flex-container-introduction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;   
  align-items: center;
  max-width: 100%; 
  border: none; 
}

.flex-item-introduction {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-bottom: 5px; 
  max-width: 300px;
 }

.flex-container-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;  
  align-items: center;
  max-width: 95%; 
  vertical-align: top;
  color: black;
}

.flex-item-profile {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-bottom: 5px; 
  max-width: 300px;
  border: black solid;
  border-width: 2px;
 }
 
.flex-item-skills {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 90%;
  margin-bottom: 5px;
  border: black solid;
  border-width: 2px;
  background: lightgray;
 }

 
 .flex-item-widget {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 80%;
  border: 1px white solid;
  margin: 5px;
  width: 350px;
 }

 .flex-item-skillset {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 100%;
  margin-bottom: 5px;
 }

.inline-title {
  display: inline;
  font-weight: bold;
  padding: 5px;   
}

.title {
    clear: left;
    display:block;
    padding: 10px;    
}

.col-6 {
  text-align: center;
  width: 100%;
}

.content{
  border-radius: 20px;
  width: 100%;
}

.tc-link {
  width: 100%;
}

.tc-img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  border: solid blue;
  border-width: 2px;
  text-decoration: none;
}   

.noBullitLink {
  text-align: left;
  text-decoration: none;
}

.menuitem::before { 
  content: " | ";
  color: blue;
}

.add-prospect-to:link, .add-prospect-to:visited,
.edit-link:link, .edit-link:visited,
.show-menu:link, .show-menu:visited {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.add-prospect-to:hover, .add-prospect-to:active, 
.edit-link:hover, .edit-link:active,
.show-menu:hover, .show-menu:visited {
  background-color:darkgrey;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: .8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  /* todo justify-content: left; */
  justify-content: flex-start;
  width: 100%;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.td {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  /* word-break: break-word; */
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 100%;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0; 
}

.td-with-borders {
  border: black solid;
  border-width: 1px;
}

.td-what {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 300px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}

.td-where {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 300px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}
.td-when {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 150px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}
.td-status {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 150px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}

.td-jobSkill {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 300px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}

.td-skillRequired {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 50px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}

.td-commentDate {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  min-width: 0;
  max-width: 150px;
}

.td-commentText {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}

.td-commentEdit {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 50px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}
.td-commentDelete {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 50px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}

.flex-item-job-prospect {
  max-width:300px; 
  border: black solid; 
  border-width: 2px;
  background-color: whitesmoke;
  margin-top: 5px;
}

.flex-item-job-summaries {
  max-width:90%; 
  border: black solid; 
  border-width: 2px;
  background-color: whitesmoke;
  margin-top: 5px;
}

.div-skills{
  position:absolute;
	height:50px;
	width:auto;
	background:#1a5f8c;
	border:1px solid #14496d;
  display:inline-block;
}
.span-skill{
	top:0;
	left:0;
	height:100%;
	width:100%;
	text-align: left;
  font-size:14px;
  font-weight:500;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  box-sizing:border-box;
  padding: 10px;
  color:#ddd;
}

	
	/* Add a black background color to the top navigation */
	.topnav {
		background-color: #333;
		overflow: hidden;
	}    
	
	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
	
	/* Change the color of links on hover */
	.topnav a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
	}
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  
/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
    position: relative;
    line-height: 2.125rem;
    font-size: 1.25rem;
    margin: 0 .25rem 0 -.25rem;
  }

		.icon:before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none;
		}

		.icon:active, .icon:hover {
			text-decoration: none;
		}

		.icon > .label {
			display: none;
		}

span {
  display: flex;
  position: relative;
  z-index: 1;
}

.btn {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 0 1.25rem;
  line-height: 2.125rem;
  font-size: .875rem;
  font-weight: 400;
  text-align: center;
  margin: .125rem;
  
  border-radius: .125rem;
  border: solid #3F4C5C;
  border-width: 2px;
  background-color:lightgray;
  color: black;
  text-decoration: none;
  transition: color .125s ease;
  overflow: hidden;
  cursor: pointer;
    vertical-align: middle;
  outline: none;	 
  }


  .btn a { 
    color: black;
    }      

.btn:hover, .btn:active, .btn:focus {
  color: black;	
  background-color: lightblue; 		
}
 

/* Tabbed Divs */

@-webkit-keyframes 
fake {  from {
 opacity: 1;
}

to { opactity: 1; }
}
@keyframes 
fake {  from {
 opacity: 1;
}

to { opactity: 1; }
}


/* Tabbed form */

.responsive-tabs {
  margin: 20px;
  width: 80%;
}

.responsive-tabs .state {
  position: absolute;
  left: -10000px;
}

.responsive-tabs .flex-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.responsive-tabs .flex-tabs .tab {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-height: 40px;
}

.responsive-tabs .flex-tabs .panel {
  background-color: #fcfcfc;
  padding: 20px;
  min-height: 300px;
  display: none;
  width: 100%;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.responsive-tabs .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: #eee;
  cursor: hand;
  cursor: pointer;
  border-left: 10px solid #ccc;
}

.responsive-tabs .tab:hover { background-color: #fff; }

#tab-one:checked ~ .tabs #tab-one-label, #tab-two:checked ~ .tabs #tab-two-label, #tab-three:checked ~ .tabs #tab-three-label, #tab-four:checked ~ .tabs #tab-four-label {
  background-color: #fff;
  cursor: default;
  border-left-color: #69be28;
}

#tab-one:checked ~ .tabs #tab-one-panel, #tab-two:checked ~ .tabs #tab-two-panel, #tab-three:checked ~ .tabs #tab-three-panel, #tab-four:checked ~ .tabs #tab-four-panel { display: block; }
@media (max-width: 600px) {

.flex-tabs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-tabs .tab {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.flex-tabs .tab:last-of-type { border-bottom: none; }

.flex-tabs #tab-one-label {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.flex-tabs #tab-two-label {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.flex-tabs #tab-three-label {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}

.flex-tabs #tab-four-label {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7;
}

.flex-tabs #tab-one-panel {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.flex-tabs #tab-two-panel {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}

.flex-tabs #tab-three-panel {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}

.flex-tabs #tab-four-panel {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8;
}

#tab-one:checked ~ .tabs #tab-one-label,  #tab-two:checked ~ .tabs #tab-two-label,  #tab-three:checked ~ .tabs #tab-three-label,  #tab-four:checked ~ .tabs #tab-four-label { border-bottom: none; }

#tab-one:checked ~ .tabs #tab-one-panel,  #tab-two:checked ~ .tabs #tab-two-panel,  #tab-three:checked ~ .tabs #tab-three-panel,  #tab-four:checked ~ .tabs #tab-four-panel { border-bottom: 1px solid #ccc; }
}

/* Widget */

.widget-label {
  color: white;
  margin-left: 5px;   
}

.widget-texbox {
  margin-left: 5px; 
  margin-right: 5px; 
  padding: 5px;  
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  display: flex; 
  color: black;
}

/* Forms */
.input-form-body {
  /* Remember to use the other versions for IE 10 and older browsers! */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: 'lato', sans-serif;
  color: #fff;
  background: #222222;
  background: #16222A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .container {
    background:rgba(58,63,68,0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    display: flex; 
  }

  .container-direction-width {
    width:450px;
    flex-direction: column;
  }
  
  .logo{
    font-family: "museo-slab";  
    font-size:20px;
    text-align: center;
    padding: 20px 20px 0;
    margin:0;
  }
  
  .form-input {
    color: #000000;
  }

  .form-item {
    color: #ffff;
    padding: 5px 5px 0;
    margin: 5px 5px 0;	
    border-radius: 3px;
  }
  
  input, textarea {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
  
  .user:before {
    content: '\f007';
    font: 14px fontawesome;
    color: #5b5b5b;
  }
  
  .lock:before {
    content: '\f023';
    font: 14px fontawesome;
    color: #5b5b5b;
  }

  .form-link { 
    margin: 5px; 
    padding: 5px;
    color: #ffffff;  
  }
  
  .form input[type="password"], 
  .form input[type="text"], 
  .form input[type="datetime-local"], 
  .form input[type="datetime"], 
  .form input[type="submit"],
  .form textarea {
    width: 100%;
  }
  
  .form-element input[type="text"],
  .form-element input[type="datetime"],
  .form-element input[type="datetime-local"],
  .form-element input[type="password"],
  .form-element input[type="submit"],
  .form-element textarea {    
    border-radius: 0.25rem;
    padding: 1rem;
    color: #000000;  
    display: inline-block;
  }
 
  .form-element input[type="text"], 
  .form-element input[type="datetime-local"],
  .form-element input[type="datetime"],
  .form-element input[type="password"],
  .form-element textarea{
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
 
  .form-element label {
    background-color: #222222;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #ffffff;  
    border-radius: 0.25rem;
    padding: 1rem;
  }

  .form-element input[type="text"]:focus, 
  .form-element input[type="text"]:hover, 
  .form-element input[type="datetime"]:focus, 
  .form-element input[type="datetime"]:hover, 
  .form-element input[type="datetime-local"]:focus, 
  .form-element input[type="datetime-local"]:hover,   
  .form-element input[type="password"]:focus, 
  .form-element input[type="password"]:hover,
  .form-element textarea:focus, 
  .form-element textarea:hover {
    background-color: #eeeeee;
  }

  .form-edit-element input[type="text"]:focus, 
  .form-edit-element input[type="text"]:hover, 
  .form-edit-element input[type="datetime"]:focus, 
  .form-edit-element input[type="datetime"]:hover, 
  .form-edit-element input[type="datetime-local"]:focus, 
  .form-edit-element input[type="datetime-local"]:hover,   
  .form-edit-element input[type="password"]:focus, 
  .form-edit-element input[type="password"]:hover,
  .form-edit-element textarea:focus, 
  .form-edit-element textarea:hover {
    background-color: #eeeeee;
  }

  .form-element input[type="submit"] {
    background-color: #00B9BC;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
  }
  .form-element input[type="submit"]:focus, 
  .form-element input[type="submit"]:hover {
    background-color: #197071;
  }

  .form-field {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
  }
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .text--center {
    text-align: center;
  }
  
/* media queries  */

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }    
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .edit-form {max-width: 340px;}  
  textarea {max-width: 335px;} 
  .flex-item { max-width: 260px;  } 
  * {font-size: 16px;}
  .flex-item-job-prospect { max-width:300px; border: none}
  .flex-item-introduction {  max-width: 300px; }
  .flex-item-widget {  max-width: 100% }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .edit-form{max-width: 500px;}  
  textarea {max-width: 495px;} 
  .flex-item { max-width: 260px;  }
  .flex-item-job-prospect { max-width:300px;}
  .flex-item-introduction {  max-width: 500px; }
  .flex-item-widget {  max-width: 100% }
}

/* Medium devices (landscape tablets, 320px and up) */
@media only screen and (min-width: 320px) {
  .edit-form{max-width: 310px;}  
  textarea {max-width: 305px;} 
  .flex-item { max-width: 500px;  }
  * {font-size: 20px;}
  .flex-item-job-prospect { max-width:300px; border: none}
  .flex-item-introduction {  max-width: 300px; }
  .flex-item-widget {  max-width: 100% }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .edit-form{max-width: 500px;}  
  textarea {max-width: 495px;} 
  .flex-item { max-width: 500px;  }
  * {font-size: 20px;}
  .flex-item-job-prospect { max-width:300px;}
  .flex-item-introduction {  max-width: 600px; }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .edit-form{max-width: 500px;}  
  textarea {max-width: 495px;} 
  .flex-item { max-width: 500px;  }
  * {font-size: 20px;}
  .add-prospect-to { font-size: 20px;}
  .flex-item-job-prospect { max-width:350px;}
  .flex-item-introduction {  max-width: 800px; }
  .container-direction-width { width:975px; flex-direction: row; }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* .header {height: 200px;} */
  .edit-form {max-width: 500px;}  
  textarea {max-width: 495px;} 
  .flex-item { max-width: 500px;  }
  * {font-size: 20px;}
  .add-prospect-to { font-size: 20px;}
  .flex-item-job-prospect { max-width:350px;}
  .flex-item-introduction {  max-width: 1000px; }
  .container-direction-width { width:1100px; flex-direction: row; }
}

 